/* Allow members of the drempelbox group to shutdown without authentication */
polkit.addRule(function(action, subject) {
  if ( ( action.id == "org.freedesktop.login1.power-off" ||
          action.id == "org.freedesktop.login1.power-off-multiple-sessions"
        ) && subject.isInGroup("drempelbox") ) {
     polkit.log("Powering Off permitted for subject" + subject)
     return polkit.Result.YES;
   }
});
