[Unit]
Description=drempelbox
After=sound.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=marcf
ExecStart=/usr/bin/drempelbox
CacheDirectory=drempelbox

[Install]
WantedBy=multi-user.target
